# Required Settings
APP_NAME=avalon
AVALON_BRANCH=bcm-develop
BASE_URL=http://localhost:3000/
STREAMING_HOST=localhost
FEDORA_DB_PASSWORD=
SECRET_KEY_BASE=
AVALON_BRANCH=
AVALON_REPO=

# For testing production builds
BASE_URL=http://localhost/
SETTINGS__DOMAIN__HOST=localhost

# Recommended Settings
EMAIL_COMMENTS=avalon-comments@example.edu
EMAIL_NOTIFICATION=avalon-notifications@example.edu
EMAIL_SUPPORT=avalon-support@example.edu
SMTP_ADDRESS=smtp.example.edu
SMTP_PORT=587

# Enable for building AWS Docker image
BUNDLE_WITH=aws
TAG_SUFFIX=-bcm-0

# For publishing to Nexus
SNAPSHOT_SUFFIX=-SNAPSHOT_
# Use the specific commit hash (first 7 charcters) of Avalon codebase
AVALON_COMMIT=e7a5536

# To miniammly test run a container AWS Docker image locally
#SETTINGS__ACTIVE_JOB__QUEUE_ADAPTER=better_active_elastic_job
#RAILS_GROUPS=aws

# Optional Settings
# Z3950_HOST=
# Z3950_PORT=
# Z3950_DATABASE=
# Z3950_ATTRIBUTE=
# LTI_AUTH_KEY=
# LTI_AUTH_SECRET=
