<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>org.avalonmediasystem.pf.rails80</string>
  <key>RunAtLoad</key>
  <true/>
  <key>ProgramArguments</key>
  <array>
    <string>pfctl</string>
    <string>-e</string>
    <string>-f</string>
    <string>/etc/pf.anchors/rails80</string>
  </array>
  <key>StandardErrorPath</key>
  <string>/var/log/pf-rails.log</string>
  <key>StandardOutPath</key>
  <string>/var/log/pf-rails.log</string></dict>
</plist>
