user nginx;
worker_processes 4;
daemon off;

env AWS_ACCESS_KEY_ID;
env AWS_SECRET_ACCESS_KEY;
env S3_BUCKET_NAME;
env S3_REGION;
env S3_SERVER;

events {
  worker_connections 1024;
}

http {
  # UMD Customization
  # Auth cache to reduce load on auth service
  proxy_cache_path /var/cache/nginx/auth_cache
      levels=1:2 
      keys_zone=auth_cache:64m 
      max_size=64m 
      inactive=3m 
      use_temp_path=off;
  # End UMD Customization

  js_import /etc/nginx/include/signature4.js;
  js_set $s3auth        signature4.signature;
  js_set $awsDate       signature4.getAmzDatetime;

  server {
    listen $AVALON_STREAMING_PORT;

    # UMD Customization
    # vod_mode $VOD_MODE;
    # vod_upstream_location /s3;
    # End UMD Customization
    vod_last_modified 'Sun, 19 Nov 2000 08:52:00 GMT';
    vod_last_modified_types *;
    vod_metadata_cache metadata_cache 1024m;
    vod_response_cache response_cache 128m;
    # UMD Customization
    # Set S3 Presigned URL cache duration
    vod_mapping_cache mapping_cache 64m $S3_PRESIGNED_URL_CACHE_DURATION;
    # End UMD Customization
    vod_hls_absolute_index_urls off;
    vod_hls_absolute_master_urls off;

    # UMD Customization
    vod_segments_base_url $AVALON_STREAMING_BASE_URL;
    vod_base_url $AVALON_STREAMING_BASE_URL;
    # End UMD Customization
    open_file_cache          max=1000 inactive=5m;
    open_file_cache_valid    2m;
    open_file_cache_min_uses 1;
    open_file_cache_errors   on;
    
    location /status {
      vod_status;
    }

    location /s3/avalon/ {
      internal;

      # proxy_set_header skips setting header if value is empty so only set if s3 auth is enabled
      set $auth_authz '';
      set $auth_date '';
      set $auth_sha '';

      set $do_s3_auth $S3_AUTH;
      if ($do_s3_auth) {
        set $auth_authz $s3auth;
        set $auth_date $awsDate;
        # Hardcode hash for empty string since we're only ever doing GET requests
        set $auth_sha "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855";
      }

      proxy_set_header Authorization              $auth_authz;
      proxy_set_header Host                       $S3_SERVER;
      proxy_set_header x-amz-date                 $auth_date;
      proxy_set_header x-amz-content-sha256       $auth_sha;

      proxy_pass $AVALON_STREAMING_BUCKET_URL;
    }
    
    location ~ ^/avalon/(?<stream>.+)\/[^\/]+\.(?:m3u8|ts) {

      # UMD Customization
      vod_mode local;
      # End UMD Customization

      alias /data/$stream;
      vod hls;

      gzip on;
      gzip_types application/x-mpegURL;

      set $token "$arg_token";
      add_header X-Stream-Auth-Token "$token";
      
      sub_filter_types application/vnd.apple.mpegurl;
      sub_filter_once off;
      sub_filter '.ts' ".ts?token=$token";

      auth_request /auth;
      add_header Access-Control-Allow-Headers '*';
      add_header Access-Control-Expose-Headers 'Server,range,Content-Length,Content-Range';
      add_header Access-Control-Allow-Methods 'GET, HEAD, OPTIONS';
      add_header Access-Control-Allow-Origin '*';
      expires 100d;
    }

    location ~ ^/s3-avalon/(?<stream>.+)/(?<resource>.+\.(?:m3u8|ts)) {
      vod hls;
      vod_mode remote;


      set $want_s3_presigned_url true;
      set $token "$arg_token";
      add_header X-Stream-Auth-Token "$token";

      sub_filter_types application/vnd.apple.mpegurl;
      sub_filter_once off;
      sub_filter '.ts' ".ts?token=$token";

      auth_request /auth;

      auth_request_set $remote_url $upstream_http_x_s3_presigned_url;

      # Use the signed URL from Avalon
      vod_upstream_location /fetch_from_s3;
    }

    # Internal location to actually proxy to S3
    location /fetch_from_s3 {
      resolver kube-dns.kube-system.svc.cluster.local valid=5s;
      internal;
      proxy_pass_request_body off;
      proxy_set_header Cookie "";
      proxy_ssl_server_name on;
      proxy_pass $remote_url;
    }

    location ~ ^/avalon/(?<stream>.+/.+\.(?:mp3)) {
      alias /data/$stream;
      vod none;

      set $token "$arg_token";
      add_header X-Stream-Auth-Token "$token";

      gzip on;
      gzip_types audio/mp3;

      sub_filter_types audio/mp3;
      sub_filter_once off;
      sub_filter '.mp3' ".mp3?token=$token";

      auth_request /auth;

      add_header Access-Control-Allow-Headers '*';
      add_header Access-Control-Expose-Headers 'Server,range,Content-Length,Content-Range';
      add_header Access-Control-Allow-Methods 'GET, HEAD, OPTIONS';
      add_header Access-Control-Allow-Origin "*";
      expires 100d;
    }

    location = /auth {
      resolver 127.0.0.1;

      # UMD Customization
      # Configure caching for auth requests
      internal;
      proxy_set_header Host $host;
      proxy_set_header Cookie "";
  
      proxy_cache_bypass 0;
      proxy_no_cache 0;

      proxy_cache auth_cache;
      proxy_cache_key "$token$stream"; 
      proxy_cache_valid 200 202 $PROXY_CACHE_VALID_DURATION;

      # Ignore ALL back end headers that prevent caching
      proxy_ignore_headers Set-Cookie Cache-Control Expires Vary;
      proxy_hide_header Set-Cookie;
      proxy_hide_header Vary;

      # Don't pass the large client cookie string to the auth backends
      proxy_pass_request_headers off; 
      
      proxy_pass $AVALON_DOMAIN/authorize.txt?token=$token&name=$stream;
      proxy_buffering on;
      # End UMD Customization

      proxy_pass_request_body off;
      proxy_set_header Content-Length "";
      proxy_set_header X-Original-URI $request_uri;
      proxy_set_header X-Want-S3-Presigned-URL $want_s3_presigned_url;
    }

    location /crossdomain.xml {
      default_type text/xml;
      return 200 '<?xml version="1.0"?>
        <!DOCTYPE cross-domain-policy SYSTEM "http://www.adobe.com/xml/dtds/cross-domain-policy.dtd">
        <cross-domain-policy>
          <site-control permitted-cross-domain-policies="all"/>
          <allow-access-from domain="*" secure="false"/>
          <allow-http-request-headers-from domain="*" headers="*" secure="false"/>
        </cross-domain-policy>';
      expires 24h;
    }
  }
}
